<!DOCTYPE html>
<html>
  <head>
    <title>OctoCredi</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'octocredi-bundle' %>

    <!-- Material-UI styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
